:root {
  --main-color: #FF9F1C;
  --secondary-color: #419f3e;
  --dark: #011627;
  --bright: #FDFFFC;
}

.App {
  text-align: center;
  background: var(--bright);
}

.wrapper {
  max-width: 800px;
  margin: 0px auto;
  color: var(--secondary-color);

}
header { 
  overflow-x: hidden;
  position: sticky;
  top: 0px;
  background: var(--secondary-color);
  color: var(--dark)
}

header h1 {
  margin: 0px;
  text-align: center;
  text-transform: uppercase;

}

main .explainer-text {
  padding: 15px;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--dark);
  background: var(--bright);
}

main input {
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin: 0px 15px 15px 15px;
  width: calc(100% - 60px);
  max-width: 400px;
  color: var(--dark);
  font-size: 1em;
  font-weight: 800;
  background: #E0E0E0;
}

button.primary-btn {
  cursor: pointer;
  padding: 15px;
  background: var(--main-color);
  color: var(--dark);
  border-radius: 8px;
  margin: 0px 15px 15px 15px;
  border: none;
  font-weight: 800;
  width: calc(100% - 30px);
  max-width: 400px;
  text-transform: uppercase;
}

.vraag-wrapper {
  padding: 30px 0px 15px 0px;
}

.vraag-wrapper .vraag-text {
  padding: 0px 15px 15px 15px;
  font-size: 1.5em;
  font-weight: 800;
  display: inline-block;
  color: var(--dark);
}